@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

body {
    font-family: 'Open Sans', sans-serif;
}

.title { 
    text-align: center;
    color: #2e87b1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #2e87b1;
        margin-left: 75px;
        margin-top: 25px;
  }

.something-else:hover {
    text-decoration: underline;
    color: rgb(105, 105, 218);
    cursor: pointer;
    list-style-type: none;
}

.something-else {
    list-style-type: none;
}

.tableName {
    text-align: center;
}

.tableGuardian {
    text-align: center;
}

.tablePhone {
    text-align: center;
}

.tableEmail {
    text-align: center;
}

.tableComments {
    text-align: center;
}

.container {
    background-color: linen;
    display: flex;
    width: 95%;
    height: 800px;
    margin-top: 10px;
}

.student-row {
    height: 5px;
}

    .greeting {
        color: #257397;
        position: absolute;
    }

    .classes {
        color: #257397
    }

    .btn {
        color: #eaeff1;
        background-color: #78bfe0
    }

    .loginButton {
        height: 2.5em;
        background-color: #78bfe0;
        border-radius: 3%;
        box-shadow: 3px 4px 4px slategray;
        
    }

    .studentListDiv {
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-30%, -30%);
        transform: translate(-30%, -30%);
    }

    .commentTable {
        width: 100%;
        border-spacing: 10px;
        border-collapse: separate;
    }

    #history {
        padding-left: -20px;
    }
    .tableHead {
        font-weight: bold;
    }

    .tableRows {
        padding: 10px;
    }


    .header {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .header h1 {
        text-align: center;
    }

    .header button {
        position: relative;
        right: 0;
    }

    .logincontainer {
        position: fixed;
        width: 340px;
        height: 280px;
        top: 50%;
        left: 50%;
        margin-top: -140px;
        margin-left: -170px;
        background: #78bfe0;
        border-radius: 3px;
        border: 1px solid #ccc;
        box-shadow: 3px 2px 3px darkgrey;
        -webkit-animation-name: bounceIn;
        -webkit-animation-fill-mode: both;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: bounceIn;
        -moz-animation-fill-mode: both;
        -moz-animation-duration: 1s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: linear;
        animation-name: bounceIn;
        animation-fill-mode: both;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: linear;

    }

    .logincontainer input {
        margin-top: 75px;
        margin-left: 55px;
    }

    .logincontainer p {
        color: linen;
        margin-left: 45px;
        margin-top: 30px;
    }

    .logincontainer h3 {
        /* font-style: italic; */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: linen;
        margin-left: 75px;
        margin-top: 25px;
    }

    #quote:first-letter{
        text-transform: uppercase;
    }

    #quote {
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
        letter-spacing:0.1em;
        text-align:center;
        /* margin: 40px auto; */
        text-transform: lowercase;
        line-height: 145%;
        font-size: 16pt;
        font-variant: small-caps;
        word-break: break-all;
        margin-left: 45px;
        margin-top: 30px
        }

    #quoteauthor {
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
        letter-spacing:0.1em;
        text-align:center;
        line-height: 110%;
        font-size: 18pt;
        margin-top: 75px;
        margin-left: -75px;
        /* margin-right: px; */
        /* position: left; */
    }

    #logoutButt {
        height: 30px;
        margin-top: 140px;
        margin-left: 50px;
    }

    .jumbotron {
        margin-left: 50px;
        height: 200px;
        box-shadow: 2px 3px 2px 3px darkgrey;
        border-radius: 2px;
    }

    .table {
        margin-right: -110px;
        margin-top: 160px;
    }

    .backButt {
        height: 40px;

    }

    .addStudentContainer {
        height: 60px;
        width: 200px;
    }

    #addButt {

    }

    .classes button {
        
    }
