@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');


.title {
    text-align: center;
}

/* .loginButton {
    text-align: center;
    padding-top: 250px;
} */

.addStudentContainer {
    /* display: flex */
}

.addStudentContainer input {
    /* flex: 2 */
}

.container {
    background-color: linen;
    display: flex;
}

.student-row {
    height: 5px;
}