@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');


.title {
    text-align: center;
}

/* .loginButton {
    text-align: center;
    padding-top: 250px;
} */

.addStudentContainer {
    /* display: flex */
}

.addStudentContainer input {
    /* flex: 2 */
}

.container {
    background-color: linen;
    display: flex;
}

.loginButt {
    align-items: center;
    border-radius: 23%;
    background-color: cornflowerblue;
    color: blanchedalmond;

}

.student-row {
    height: 5px;
}

/* .modal {
    width: 30rem;
    background: lightgray;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 20vh;
} */